In [1]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import CategoricalNB
from sklearn.preprocessing import OrdinalEncoder
from sklearn.metrics import accuracy_score, classification_report

In [2]:
dt = pd.read_csv("Lab08_data.csv")
dt

        Age  Income Student Credit_Rating Buys_Computer
0      <=30    high      no          fair            no
1      <=30    high      no     excellent            no
2   31---40    high      no          fair           yes
3       >40  medium      no          fair           yes
4       >40     low     yes          fair           yes
5       >40     low     yes     excellent            no
6   31---40     low     yes     excellent           yes
7      <=30  medium      no          fair            no
8      <=30     low     yes          fair           yes
9       >40  medium     yes          fair           yes
10     <=30  medium     yes     excellent           yes
11  31---40  medium      no     excellent           yes
12  31---40    high     yes          fair           yes
13      >40  medium      no     excellent            no

In [3]:
n = len(dt)
count_y = count_n = 0
for i in range(0,n):
    if dt['Buys_Computer'][i] == "yes":
        count_y += 1
    if dt['Buys_Computer'][i] == "no":
        count_n += 1
pr_y = count_y/n
pr_n = count_n/n
print(pr_y)
print(pr_n)

0.6428571428571429
0.35714285714285715

In [4]:
def con_prob(value,feature, target):
    d1 = dt[dt['Buys_Computer'] == target]
    d2 = d1[d1[feature] == value]
    return len(d2)/len(d1)

In [5]:
#Income
pr1 = con_prob("high","Income","yes")
print(pr1)
pr2 = con_prob("medium","Income","yes")
print(pr2)
pr3 = con_prob("low","Income","yes")
print(pr3)
pr4 = con_prob("high","Income","no")
print(pr4)
pr5 = con_prob("medium","Income","no")
print(pr5)
pr6 = con_prob("low","Income","no")
print(pr6)

0.2222222222222222
0.4444444444444444
0.3333333333333333
0.4
0.4
0.2

In [6]:
#Student
pr1 = con_prob("yes","Student","yes")
print(pr1)
pr2 = con_prob("no","Student","yes")
print(pr2)
pr3 = con_prob("yes","Student","no")
print(pr3)
pr4 = con_prob("no","Student","no")
print(pr4)

0.6666666666666666
0.3333333333333333
0.2
0.8

In [7]:
#credit rating
pr1 = con_prob("fair","Credit_Rating","yes")
print(pr1)
pr2 = con_prob("excellent","Credit_Rating","yes")
print(pr2)
pr3 = con_prob("fair","Credit_Rating","no")
print(pr3)
pr4 = con_prob("excellent","Credit_Rating","no")
print(pr4)

0.6666666666666666
0.3333333333333333
0.4
0.6

In [8]:
#Age
pr1 = con_prob("<=30","Age","yes")
print(pr1)
pr2 = con_prob("31---40","Age","yes")
print(pr2)
pr3 = con_prob(">40","Age","yes")
print(pr3)
pr4 = con_prob("<=30","Age","no")
print(pr4)
pr5 = con_prob("31---40","Age","no")
print(pr5)
pr6 = con_prob(">40","Age","no")
print(pr6)

0.2222222222222222
0.4444444444444444
0.3333333333333333
0.6
0.0
0.4

In [9]:
from scipy.stats import chi2_contingency
contingency_table = pd.crosstab(index=dt['Age'], columns=dt['Income'])
print("Contingency Table:")
print(contingency_table)

chi2, p, _, _ = chi2_contingency(contingency_table)
print(f"\nChi-squared value: {chi2}")
print(f"P-value: {p}")
alpha = 0.05
print("\nSignificance Test:")
if p <= alpha:
    print("The variables are dependent.")
else:
    print("The variables are independent.")

Contingency Table:
Income   high  low  medium
Age
31---40     2    1       1
<=30        2    1       2
>40         0    2       3

Chi-squared value: 3.3249999999999997
P-value: 0.5049810026322079

Significance Test:
The variables are independent.

In [10]:
contingency_table = pd.crosstab(index=dt['Income'], columns=dt['Student'])
print("Contingency Table:")
print(contingency_table)

chi2, p, _, _ = chi2_contingency(contingency_table)
print(f"\nChi-squared value: {chi2}")
print(f"P-value: {p}")
alpha = 0.05
print("\nSignificance Test:")
if p <= alpha:
    print("The variables are dependent.")
else:
    print("The variables are independent.")

Contingency Table:
Student  no  yes
Income
high      3    1
low       0    4
medium    4    2

Chi-squared value: 5.666666666666666
P-value: 0.05881647164242991

Significance Test:
The variables are independent.

In [11]:
contingency_table = pd.crosstab(index=dt['Student'], columns=dt['Credit_Rating'])
print("Contingency Table:")
print(contingency_table)

chi2, p, _, _ = chi2_contingency(contingency_table)
print(f"\nChi-squared value: {chi2}")
print(f"P-value: {p}")
alpha = 0.05
print("\nSignificance Test:")
if p <= alpha:
    print("The variables are dependent.")
else:
    print("The variables are independent.")

Contingency Table:
Credit_Rating  excellent  fair
Student
no                     3     4
yes                    3     4

Chi-squared value: 0.0
P-value: 1.0

Significance Test:
The variables are independent.

In [12]:
contingency_table = pd.crosstab(index=dt['Age'], columns=dt['Student'])
print("Contingency Table:")
print(contingency_table)

chi2, p, _, _ = chi2_contingency(contingency_table)
print(f"\nChi-squared value: {chi2}")
print(f"P-value: {p}")
alpha = 0.05
print("\nSignificance Test:")
if p <= alpha:
    print("The variables are dependent.")
else:
    print("The variables are independent.")

Contingency Table:
Student  no  yes
Age
31---40   2    2
<=30      3    2
>40       2    3

Chi-squared value: 0.4
P-value: 0.8187307530779818

Significance Test:
The variables are independent.

In [13]:
encoder = OrdinalEncoder()
dt_encoded = pd.DataFrame(encoder.fit_transform(dt[['Age', 'Income', 'Student', 'Credit_Rating']]), columns=['Age', 'Income', 'Student', 'Credit_Rating'])
dt_encoded['Buys_Computer'] = dt['Buys_Computer']

X = dt_encoded[['Age', 'Income', 'Student', 'Credit_Rating']]
y = dt_encoded['Buys_Computer']

# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

nb_classifier = CategoricalNB()
nb_classifier.fit(X_train, y_train)
y_pred = nb_classifier.predict(X_test)

accuracy = accuracy_score(y_test, y_pred)
print(f"Accuracy: {accuracy:.2f}")

# Display classification report
print("\nClassification Report:")
print(classification_report(y_test, y_pred))

Accuracy: 0.33

Classification Report:
              precision    recall  f1-score   support

          no       0.00      0.00      0.00         1
         yes       0.50      0.50      0.50         2

    accuracy                           0.33         3
   macro avg       0.25      0.25      0.25         3
weighted avg       0.33      0.33      0.33         3

In [14]:
data = pd.read_csv("Skin_Cancer_Metadata.csv")
data

         lesion_id      image_id     dx dx_type   age     sex localization
0      HAM_0000118  ISIC_0027419    bkl   histo  80.0    male        scalp
1      HAM_0000118  ISIC_0025030    bkl   histo  80.0    male        scalp
2      HAM_0002730  ISIC_0026769    bkl   histo  80.0    male        scalp
3      HAM_0002730  ISIC_0025661    bkl   histo  80.0    male        scalp
4      HAM_0001466  ISIC_0031633    bkl   histo  75.0    male          ear
...            ...           ...    ...     ...   ...     ...          ...
10010  HAM_0002867  ISIC_0033084  akiec   histo  40.0    male      abdomen
10011  HAM_0002867  ISIC_0033550  akiec   histo  40.0    male      abdomen
10012  HAM_0002867  ISIC_0033536  akiec   histo  40.0    male      abdomen
10013  HAM_0000239  ISIC_0032854  akiec   histo  80.0    male         face
10014  HAM_0003521  ISIC_0032258    mel   histo  70.0  female         back

[10015 rows x 7 columns]

In [15]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10015 entries, 0 to 10014
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   lesion_id     10015 non-null  object
 1   image_id      10015 non-null  object
 2   dx            10015 non-null  object
 3   dx_type       10015 non-null  object
 4   age           9958 non-null   float64
 5   sex           10015 non-null  object
 6   localization  10015 non-null  object
dtypes: float64(1), object(6)
memory usage: 547.8+ KB

In [16]:
m = data['age'].mean()
data['age'].fillna(m, inplace = True)

In [17]:
from sklearn.preprocessing import LabelEncoder
label_en = LabelEncoder()
cols = ['dx_type','sex','localization']
for i in cols:
    data[i] = label_en.fit_transform(data[i])
data

         lesion_id      image_id     dx  dx_type   age  sex  localization
0      HAM_0000118  ISIC_0027419    bkl        3  80.0    1            11
1      HAM_0000118  ISIC_0025030    bkl        3  80.0    1            11
2      HAM_0002730  ISIC_0026769    bkl        3  80.0    1            11
3      HAM_0002730  ISIC_0025661    bkl        3  80.0    1            11
4      HAM_0001466  ISIC_0031633    bkl        3  75.0    1             4
...            ...           ...    ...      ...   ...  ...           ...
10010  HAM_0002867  ISIC_0033084  akiec        3  40.0    1             0
10011  HAM_0002867  ISIC_0033550  akiec        3  40.0    1             0
10012  HAM_0002867  ISIC_0033536  akiec        3  40.0    1             0
10013  HAM_0000239  ISIC_0032854  akiec        3  80.0    1             5
10014  HAM_0003521  ISIC_0032258    mel        3  70.0    0             2

[10015 rows x 7 columns]

In [18]:
X = data[['dx_type', 'age', 'sex', 'localization']]
y = data['dx']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

nb_classifier = CategoricalNB()
nb_classifier.fit(X_train, y_train)
y_pred = nb_classifier.predict(X_test)

accuracy = accuracy_score(y_test, y_pred)
print(f"Accuracy: {accuracy:.2f}")

# Display classification report
print("\nClassification Report:")
print(classification_report(y_test, y_pred))

Accuracy: 0.71

Classification Report:
              precision    recall  f1-score   support

       akiec       0.20      0.01      0.03        69
         bcc       0.17      0.02      0.04        93
         bkl       0.45      0.37      0.41       228
          df       0.00      0.00      0.00        28
         mel       0.30      0.36      0.33       226
          nv       0.82      0.93      0.87      1338
        vasc       0.00      0.00      0.00        21

    accuracy                           0.71      2003
   macro avg       0.28      0.24      0.24      2003
weighted avg       0.65      0.71      0.67      2003

C:\Users\HIMASREE\anaconda3\Lib\site-packages\sklearn\metrics\_classification.py:1469: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
C:\Users\HIMASREE\anaconda3\Lib\site-packages\sklearn\metrics\_classification.py:1469: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
C:\Users\HIMASREE\anaconda3\Lib\site-packages\sklearn\metrics\_classification.py:1469: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))